<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Review</title>
<!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    {{form.errors}}
    <h1><center>Welcome!!!</center></h1><hr>
        <form role="form" action="{% url 'review_book' %}" method="post">{% csrf_token %}<center>
            <div class="form-group col-md-4 col-md-offset-4">
                <label  for="id_book_name">Book name:</label>
                <select class="form-control text-center" id="id_book_name" name="book_name">
                {% for val,txt in form.fields.book_name.choices%}
                    <option value="{{val}}">{{txt}}</option>
                {% endfor %}
                </select>
            </div>
            
            <div class="form-group col-xs-12">
                <label for="id_text">Text: </label>
                <textarea id="id_text" name="text" rows=1>{{form.form.text}}</textarea>
                <span class="help-block">This block is to enter information about the book!</span>

            </div>
            
            </div>
            <div class="col-xs-12 ">
            <button type="submit" class="btn btn-primary btn-lg active" value="Send"> Send</button>
            </div>
            </center>
        </form>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script> 
</body>
</html>