{% extends 'reader/base.html' %}

{% block title %}Django !{% endblock %}

{% block content %}
    <div class="col-xs-12">
    	User: {{user.username}}
    	<h3>List of authors: </h3>
    	<form action='' method='post'>{% csrf_token %}
    	<input type="radio" name="up" value = up> Up<Br>
    	<input type="radio" name="up" value = down> Down<Br>
    	<label for="id_author">Search<input id="id_author" maxlength="40" name="search" type="text" /></label>

    	{% for o in author_list %}
			<a href="{%url 'get_view' o.pk%}"><p> {{o.pk}}: {{o.first_name}}</p></a><br>
		
		{% endfor %}
		<button type="submit" class="btn btn-primary btn-lg active" value="Send"> Send</button>
		<img src='/static/avatar.png'>
		</form>
    </div>
        
{% endblock %}