

{% extends 'reader/base.html' %}

{% block title %}Django !{% endblock %}

{% block content %}
    
    <h3>Information about author</h3>
    <form method='post' action={% url 'get_save' %}>{% csrf_token %}
    <div class="form-group">
    	<label for="first_name"> First name:</label><textarea id="id_text" name="first_name" rows=1 >{{author.first_name}}</textarea>

    </div>
    <div class="form-group">
		<label for="last_name" >Last name:</label> <textarea id="id_text" name="last_name" rows=1>{{author.last_name}}</textarea>
	</div>
	<div class="form-group">
		<label for="email">Email:</label> <textarea id="id_text" name="email" rows=1>{{author.email}}</textarea>
    </div>

    <button type="submit" class="btn btn-success" value="Save"> Save</button>
    </form>
    <br>
    <a href="{%url 'get_list' %}"><p>К списку авторов</p></a><br>  
{% endblock %}