{% extends 'reader/base.html' %}

{% block title %}Django !{% endblock %}

{% block content %}

<div>
    <hr>
    <form method="POST" action={% url 'avatar' %} enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p}}
            <hr>
     <input type="submit" class='btn btn-primary' value="Save user" />

    
    </form>
    {% load staticfiles %}
    <img src="{% static 'avatar.jpg' %}" />

    <img src="{{ Profile.avatar.url }}" />
</div>
        
{% endblock %}