<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <title>{% block title %}{% endblock %}</title>
</head>
<body><form action='' method='post'>{% csrf_token %}

<a href='../logout'>Exit</a>
</form>
    <h1><center>Welcome to my site</center></h1>
<div  class="form-group col-xs-12 ">
	    {% if user.is_authenticated %}
   		Welcome, {{user.username}}
    {% else%}
   		Please, log in!  
    {% endif %}

</div>
    {% block content %}


    {% endblock %}
<hr>  
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script> 

{% block footer %}
    
    <p><center>Thanks for visiting my site.</center></p>
{% endblock %}

</body>
</html>