<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
 
    <title>Ok Django!</title>

    <!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    
  </head>
  <body>
  <h1>Authors</h1>
  Hi there!
  {{author_name}}<br><br>
  {{books}}
  <br><br><br>
  <div class="container-fluid">
    <div class="row">
       <div class="col-xs-4">
     <!--  {%for author in author_name %}
       	<p class="bg-primary">{{author}} </p>
        {% endfor %}
        </div>-->
        
     <div class="col-xs-12">
      	<ul class="list-group">
          <!--<li class="list-group-item">{{ book }} </li>-->
      	 {%for author in author_name %}
      			<li class="list-group-item">{{ author }} </li>
      		{% empty %}
      			<li> No books</li>
      		{% endfor %}
      	</ul>
        <ul class="list-group">
          <!--<li class="list-group-item">{{ book }} </li>-->
         
            <li class="list-group-item">{{ book }} </li>
          
            
        </ul>
      </div>
  
    </div>
  </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  </body>
</html>